@import '../../../styles/variables';

.list {
  display: flex;
  flex-direction: row;
  padding: 10px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border;
}

.search {
  margin-right: 20px;
  margin-left: 20px;
}

.textField {
  width: 15rem;
}

.add_new {
  margin-right: 20px;
  & > a {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}

.search_form {
  display: flex;
  align-items: center;
  position: relative;
  & > span {
    position: absolute;
    right: 8px;
    top: 30px;
    cursor: pointer;
    color: black;
  }
}

.icon {
  color: $navbar;
  font-size: 55px;
}
