@import '../../../styles/variables';

.form_wrapper {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 50px;
}

.submit_button {
  margin-top: 10px;
}

.login_link {
  text-align: left;
  text-decoration: none;
  color: blue;
  margin-top: 6px;
}
